.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.login__logo {
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
}

.login__container{
    display: flex;
    width: 300px;
    height: fit-content;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid lightgray;

}

.login__container > form > input {
    margin-bottom: 5px;
    height: 30px;
    background-color: white;
    width: 98%;
}

.login__container > p {
    margin-top: 15px;
    font-size: 12px;

}

.login__signInButton {
    background-color: #f0c14b;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.login__registerButton {
    border-radius: 2px;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    border-color: darkgray;
}