.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.login__logo {
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
}